<!-- <div class="nav">
        <ul class="nav__container">  
            <li class="nav__item"><a href="#about" >About</a></li>
            <li class="nav__item"><a href="#home">Home</a></li>
        </ul>
</div> -->


<header id="home" class="header">
    <!-- <app-root  class="page-scroll"></app-root> -->
    <div class="header__title-box">
        <h1 class="title-primary">
          <span class="title-primary--main">outcast developer</span>
          <span class="title-primary--underline"></span>
          <span class="title-primary--sub">More to come</span>
        </h1>
    </div>
    
  </header>

  <section id="about" class="section-about">
      <h1 class="title-secondary">
          About Me
        </h1>
      <div class="container">
        
        <div class="item">
          <img class="me-image" src="assets/me.jpg">
        </div>
        <div class="item">
          <div class="item__inner">
            <p class="me-text">
              I Do Front End Developer Work And Dabble With Design. CSS/SCSS With BED Methodology When Possible. Intermediate With Angular & Laravel. Comfortable on the Command Line. Love AWS S3. Click On The Icons Below To See My Git Hub Or Contact Me. Thank You For Visiting. -- Craig
            </p>
            <div class="me-links">
                <a href="https://github.com/wick7" target="_blank"><i class="fa fa-github-square"></i></a>
                <a href="mailto:wickersham.craig@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
  </section>